.group-setting-plate {
    z-index: 2;
    top: 1.7em;
    right: 4em;
    background-color: $dark;
    box-shadow: 0px 0px 10px 8px $dark-gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.group-setting-plate button:hover {
    opacity: .8;
}

.report-button, .leave-button {
    background: none;
    border: none;
}

.groups-action-button {
    background: none;
    border:none;
    width: fit-content;
    outline: none;   
}

#actionGroupModal .modal-dialog {
    margin-top: 16vh;
}

#actionGroupModal .modal-content {
    background-color: $dark !important;
}

#actionGroupModal input, #actionGroupModal textarea {
    background-color: $dark-gray !important;
    outline: none !important;
    border: none;
    color: $font-color-white;
    resize: none;
}

#actionGroupModal input:focus, #actionGroupModal textarea:focus {
    outline: none !important;
    box-shadow: none;
}

#actionGroupModal textarea {
    height: 10em;
}

.unvisible {
    display: none;
}