.col-xxl-4.col-md-6.d-flex.justify-content-center.p-3
    .group-class.bg-dark
        .p-3.d-flex.flex-column.h-100.justify-content-between
            .about-group.pb-3
                .row.group-title
                    h2 ДО К-28
                .row.group-desc
                    span Анализ Данных (лаб. занятия)122313132
                .row.group-teacher-name
                    span Alexander Slabospitsky
            .group-progress.overflow-auto
                .progress-slide.d-flex.align-items-center.justify-content-left
                    .grade-plate.p-2.h-100.d-inline-block
                    .grade-plate.p-2.h-50.d-inline-block
                    .grade-plate.p-2.h-75.d-inline-block
                    .grade-plate.p-2.overdue.h-50.d-inline-block
                    .grade-plate.p-2.h-25.d-inline-block
                    .grade-plate.p-2.overdue.h-100.d-inline-block
                    .grade-plate.p-2.h-100.d-inline-block
                    .grade-plate.p-2.h-50.d-inline-block
                    .grade-plate.p-2.h-75.d-inline-block
                    .grade-plate.p-2.overdue.h-50.d-inline-block
                    .grade-plate.p-2.h-25.d-inline-block
                    .grade-plate.p-2.overdue.h-100.d-inline-block
                    .grade-plate.p-2.h-100.d-inline-block
                    .grade-plate.p-2.h-50.d-inline-block
                    .grade-plate.p-2.h-75.d-inline-block
                    .grade-plate.p-2.overdue.h-50.d-inline-block
                    .grade-plate.p-2.h-25.d-inline-block
                    .grade-plate.p-2.overdue.h-100.d-inline-block
                    .grade-plate.p-2.h-100.d-inline-block
                    .grade-plate.p-2.h-50.d-inline-block
                    .grade-plate.p-2.h-75.d-inline-block
                    .grade-plate.p-2.overdue.h-50.d-inline-block
                    .grade-plate.p-2.h-25.d-inline-block
                   
                    
                    