block content
    section.container-xxl.groups-content.p-3
        .col
            .row.gutter-2.gutter-lg-3.d-flex.justify-content-center.groups-place
                include group
                include group
                include group
                include group
                include group
                include group
                include group
                include group
                include group
                include group
                include group
                include group
                include group
                include group
                include group
                include group
                include group
                include group
                include group
