link(rel="stylesheet", href="css/menu.css")
navbarMenu.navbar-collapse.collapse
    .wrapper
        .navbar-menu.bg-dark.d-flex.flex-column.p-3.scroll-propagation
            .head-icons.d-flex.flex-column
                a.mx-2.my-3(href="index.html")
                    include ../svg/home
                    span.ms-4.row-name Groups
                a.mx-2.my-3(href="index.html")
                    include ../svg/list
                    span.ms-4.row-name Task list
            .middle-icons.overflow-auto.d-flex.flex-column
                
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                a.groups.m-4.own-group(href="") 
                    span.group-name ДО К-28
                
            .foot-icons.d-flex.flex-column
                a.mx-2.my-3(href="settings.html")
                    include ../svg/gear
                    span.ms-4.row-name Settings