link(rel="stylesheet", href="css/menu.css")
navbarMenu.navbar-collapse.collapse
    .wrapper
        .navbar-menu.bg-dark.d-flex.flex-column.p-3.scroll-propagation
            .head-icons
                .mx-2.my-4
                    a.groups(href="")
                        include ../svg/home
                        span.ms-4.row-name Groups
                .mx-2.my-4
                    a.groups(href="") 
                        include ../svg/list
                        span.ms-4.row-name Task list
            .middle-icons.overflow-auto
                .m-4.own-group
                    a.groups(href="") 
                        span.group-name ДО К-28
                .m-4.own-group
                    a.groups(href="") 
                        span.group-name Анализ Данных К-28 
                .m-4.own-group
                    a.groups(href="") 
                        span.group-name ПИ 2022 К-28 
                .m-4.own-group
                    a.groups(href="") 
                        span.group-name Разработка ВЕБ ориентированых систем 
                .m-4.own-group
                    a.groups(href="") 
                        span.group-name ДО К-28
                .m-4.own-group
                    a.groups(href="") 
                        span.group-name ДО К-28
                .m-4.own-group
                    a.groups(href="") 
                        span.group-name ДО К-28
                .m-4.own-group
                    a.groups(href="") 
                        span.group-name Анализ Данных К-28 
                .m-4
                    a.groups(href="") 
                        span.group-name ПИ 2022 К-28 
                .m-4
                    a.groups(href="") 
                        span.group-name Разработка ВЕБ ориентированых систем 
                .m-4
                    a.groups(href="") 
                        span.group-name ДО К-28
                .m-4
                    a.groups(href="") 
                        span.group-name ДО К-28
                .m-4
                    a.groups(href="") 
                        span.group-name ДО К-28
                .m-4
                    a.groups(href="") 
                        span.group-name Анализ Данных К-28 
                .m-4
                    a.groups(href="") 
                        span.group-name ПИ 2022 К-28 
                .m-4
                    a.groups(href="") 
                        span.group-name Разработка ВЕБ ориентированых систем 
                .m-4
                    a.groups(href="") 
                        span.group-name ДО К-28
                .m-4
                    a.groups(href="") 
                        span.group-name ДО К-28
                
            .foot-icons
                .mx-2.my-4
                    a.groups(href="settings.html") 
                        include ../svg/gear
                        span.ms-4.row-name Settings