link(rel="stylesheet", href="style.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")

.page-wrapper.box-content.m-3
    textarea.content

script
    include ../../js/richtext.js