.settings.d-flex.h-100
    .settings-list.p-3.overflow-auto.scroll-propagation.position-sticky
        .user-settings.d-flex.flex-column
            a.mx-2.my-3(href="index.html")
                include ../svg/user
                span.ms-4 Profile
            a.mx-2.my-3(href="index.html")
                include ../svg/home
                span.ms-4 Personalisation
            a.mx-2.my-3(href="index.html")
                include ../svg/list
                span.ms-4 Notification
            a.mx-2.my-3(href="index.html")
                include ../svg/gear
                span.ms-4 Profile
            a.mx-2.my-3(href="index.html")
                include ../svg/user
                span.ms-4 Profile
            a.mx-2.my-3(href="index.html")
                include ../svg/home
                span.ms-4 Personalisation
            a.mx-2.my-3(href="index.html")
                include ../svg/list
                span.ms-4 Notification
            a.mx-2.my-3(href="index.html")
                include ../svg/gear
                span.ms-4 Profile
        .notification-settings
        .personalisation-settings
    .settings-body
         section.container-xxl.groups-content.p-3
            .col.overflow-auto
                include setting/profile
                include setting/notification
                include setting/personalisation