$dark-gray: #16191f;
$white: #ffffff;
$dark: rgba(var(--bs-dark-rgb));
$header-height: 70px;
$secondary: #6c757d;
$font-color-white: rgb(201, 209, 217);
$danger: #dc3545;

*{
    font-family: 'Kanit',sans-serif;
    color: $font-color-white;
}

*,*:before,*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.settings-icon, .list-icon, .home-icon, .user-icon, .personalisation-icon {
    width: 30px;
    height: 30px;
    fill: gray;
}

body {
    background-color: $dark-gray;
}

.bg-dark-gray {
    background-color: $dark-gray;
}

a{
    text-decoration: none;
}

a:hover {  
    text-decoration: underline;
    color: currentColor;
}

a span {
    opacity: 1;
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    transition: opacity 0.1s;
}

a:hover span {
    opacity: 0.9;
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    transition: opacity 0.1s;
}

div.overflow-auto, .overflow-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

*::-webkit-scrollbar {
    display: none;
}

.br-5 {
    border-radius: 5px;
}

.brt-5 {
    border-radius: 5px 5px 0 0 ;
}
.brb-5 {
    border-radius: 0 0 5px 5px;
}
.bt-secondary {
    border-top: 2px solid $secondary;
}
.min-w-100 {
    min-width: 100% !important;
}

.scale-12 {
    transform: scale(1);
    transition: transform .3s ease;
}
.scale-12:hover {
    transform: scale(1.2);
    transition: transform .3s ease;
}
.scale-11 {
    transform: scale(1);
    transition: transform .3s ease;
}
.scale-11:hover {
    transform: scale(1.1);
    transition: transform .3s ease;
}

.profile-photo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid gray;
    opacity: 1;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    -ms-transition: opacity .2s;
    transition: opacity .2s;
}

.profile-photo:hover {
    opacity: 0.6;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    -ms-transition: opacity .2s;
    transition: opacity .2s;
}

.profile-photo svg {
    width: 70%;
    height: 70%;
}

.h-fit-content {
    height: fit-content;
}

.w-fit-content {
    width: fit-content;
}

.text-color-white {
    color: $font-color-white !important;
}

.border-dark {
    border: 1px solid $dark;
    outline: none;
    box-shadow: none;
}

.border-dark-gray {
    border: 1px solid $dark-gray;
    outline: none;
    box-shadow: none;
}

@media screen and (max-width: 992px) {
    .media-profile {
        width: 60px;
        height: 60px;
    }
}