.settings-list {
    width: 300px;
    min-height: calc(100vh - $header-height);
    background-color: $dark;
    top: $header-height;
}

.settings-body {
    width: 100%;
}

.setting {
    border-radius: 5px;
    width: 100%;
    height: auto;
    background-color: $dark;
}

@media screen and (max-width: 992px) {
    .settings-list {
        display: none;
    }
}

.logout  {
    width: 100%;
}

.logout a {
    width: 100%;
}

.logout .leave-icon {
    width: 30px !important;
    height: 30px !important;
    fill: gray;
}

.edit-profile-button {
    background: none;
    border: none;
}

.edit-pencil-svg {
    fill: gray;
}
