head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
body
    include includes/loader
    include includes/header

    .container.br-5.group-body.p-3
        .row
            .col-lg-8.col-sm-12.col-md-11.p-3
                .group-header.bg-dark.brt-5.p-3.position-relative
                    .about-group.pb-3
                        .row
                            .col-12.col-lg-8
                                .row.group-title
                                    h2.text-truncate ДО К-28
                                
                            .col-12.col-lg-4.m-3.m-lg-0
                                .row.group-teacher-name.d-flex.align-items-center
                                    .col-4.p-0.d-flex.justify-content-center.align-items-center.profile-photo.teacher-profile-photo.media-profile
                                        include svg/profile
                                    .col-8
                                        span Alexander Slabospitsky
                        .bt-secondary.m-3
                        .row.group-desc
                                span.overflow-auto.text-truncate Анализ Данных (лаб. занятия)122313132
                        button.group-information-button.scale-12.owner-group-buttons(type="button" data-bs-toggle="modal" data-bs-target="#informationGroupModal")
                            include svg/exclamation
                .d-flex.position-relative
                    .group-tasks.br-5.w-100
                        .container.p-0
                            .col
                                button.media-small.group-action-buttons.m-3.owner-group-buttons.scale-12
                                    include svg/plus
                                include includes/richtext            
                    button.media-big.px-0.position-absolute.group-action-buttons.owner-group-buttons.scale-12
                        include svg/plus            
            .col-lg-4.p-3
                .col-lg-12
                    a(href="index.html")
                        span People
                    .people-list.d-flex.my-3

    #informationGroupModal.modal.fade(tabindex="-1" aria-hidden="true").owner-group-buttons
        .modal-dialog
            .modal-content.bg-dark
                .modal-header.border-0
                    .d-flex.align-items-center
                        h5.modal-title.me-2 Group code: 
                        h3#informationGroupModalCode.text-secondary fsdhbsdhbf
                    button.btn-close.btn-close-white(type="button" data-bs-dismiss="modal" aria-label="Close")

    template#profile-template
        .p-0.me-1.d-flex.justify-content-center.align-items-center.profile-photo
            include svg/profile
    include includes/task
    script(src="js/script.js")
    script(src="js/jquery.richtext.js")
    script(src="js/group.js")
    script(src="js/lib.js" type="module")