@import 'variables/variables.scss';

#about-class {
    padding: 2em;
    background-color: $second;
    border: 2px solid $second;
    border-radius: .5em;    
}

.about-class
{
    &-header {
        display: flex;
        justify-content: space-between;
    }

    &-body {
        display: flex;
        flex-direction: column;
        & span:last-child {
            margin-top:2em;
            text-align: end;
        }
    }
}


.class-owner {
    display: flex;
    min-width: max-content;
    gap: 1em;
    & > div {
        display: flex;
        flex-direction: column;
        &:first-child{
            justify-content: center;
            align-items: center;
            border-radius: 50% 50%;
            border: 2px solid $third;
            width: 2.5em;
            height: 2.5em;
        }
    }
}


#post-editor {
    display: none;

    background-color: $second;
    padding: 2em;
    border-radius: .5em;

    & .input-form {
        padding: .5em 0;
        & input, & textarea {
            margin-top: .5em;
        }
    }
}

.post-actions {
    display: flex;
    justify-content: end;
}

#class-posts {
    margin-top: 2em;
    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;

    border: 2px solid $second;
    border-radius: .5em;

    & > .post {
        border: 2px solid $second;
        border-radius: .5em;
        padding: 1em;
        background-color: $second;

        & > .post-author {
            display: flex;
            gap: 1em;
            & > div {
                display: flex;
                &:first-child{
                    justify-content: center;
                    align-items: center;
                    border-radius: 50% 50%;
                    border: 2px solid $third;
                    width: 2.5em;
                    height: 2.5em;

                }

                &:last-of-type {
                    justify-content: space-between;
                    flex-direction: column;
                }
            }
        }
        
    }
}

.user {
    & .admin-access {
        display: none;
    }
}

.admin {
    & .user-access {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .class {
        padding: 0 1em;
    }
}