.classes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    gap: 2em;
}

.class {
    padding: 1em;
    background-color: var(--second);
    height: 13em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    border-radius: .5em;
}

.class-header-block {
    display: flex;
    justify-content: space-between;
}

.class-header-block > h2 {
    margin: 0;
}

.class-action-btn {
    background: none;
    border: none;
    width: fit-content;
    transition: transform .3s;
}

.class-action-btn:hover {
    transform: scale(1.1);
    transition: transform .3s;
}

.class-middle-block {
    display: flex;
    flex-direction: column;
}

.class-footer-block {
    height: 100%;
    padding: .5em 0 0 0;
}

.class-personal-estimates {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    gap: .5em;
    overflow: auto;
}

[class^="estimate"] {
    min-width: 1em;
    background-color: green;
    border-radius: .2em;
}

[class^="estimate"]::after {
    width: 0;
    transition: width 0.3s;
}

[class^="estimate"]:hover::after {
    content: attr(data-estimate) " / " attr(data-max-estimate);
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    transform: translate(1.5em, 0);
    background-color: var(--background-color);
    border: 1px solid var(--third);
    padding: .3em;
    border-radius: .3em;
    box-shadow: 0px 0px 29px 5px var(--background-color);
    width:max-content;
    transition: width 1s;
}

.estimate1 {
    height: 100%;
}
.estimate2 {
    height: 75%;
    background-color: red;
}

.estimate3 {
    height: 50%;
}

@media screen and (max-width: 576px) {
    .classes {
        padding: 0 1em;
    }
}