@import 'variables/variables.scss';

#settings {
    display: flex;
    gap: 2em;
        
    & > nav {
        display: flex;
        flex-direction: column;
        padding: 1em 2em;
        border-radius: .5em;
        background-color: $second;
        position: sticky;
        top: 2em;
        height: fit-content;

        & > * {
            padding: 1em 0;
            &:not(:last-child) {
                border-bottom: 1px solid gray;
            }
        }
    }

    & > .settings-body {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 100%;
        overflow-y: scroll;
        scroll-behavior: smooth;
        flex-grow: 1;
        & > * {
            height: 10em;
            border-radius: .5em;
            background-color: $second;
            padding: 2em;
            display: none;

            &:target {
                display: inline;
            }
        }
    }

}