.setting-profile.setting.p-4.mb-4
    h1.setting-title.mb-4 Profile
    .ps-1
        h4 Profile photo
        .setting-photo.d-flex.align-items-center.my-3.ps-2
            .profile-photo
                img(src="https://picsum.photos/400/100")
            span.m-3.text-secondary Choose profile photo
        h4 Personal information
        .setting-personal-information
            .ps-2
                .row.my-2
                    span.user-firstname First Name:
                .row.my-2
                    span.user-lastname Last Name:
                .row.my-2
                    span.user-email E-mail:
