link(rel="stylesheet", href="css/style.css")
navbarMenu.navbar-collapse.collapse
    .wrapper
        .navbar-menu.bg-dark.d-flex.flex-column.scroll-propagation.px-3.py-5.py-lg-0
            .head-icons.d-flex.flex-column.mt-sm-3
                a.mx-2.my-3(href="main.html")
                    include ../svg/home
                    span.ms-4.row-name Groups
                a.mx-2.my-3(href="main.html")
                    include ../svg/list
                    span.ms-4.row-name Task list
            .middle-icons.overflow-auto.d-flex.flex-column#menu-group-list
                
            .foot-icons.d-flex.flex-column.mb-sm-3
                a.mx-2.my-3(href="settings.html")
                    include ../svg/gear
                    span.ms-4.row-name Settings