template#task-template
    .task.bg-dark.br-5.p-3.m-3.d-flex.justify-content-between.align-items-start
        .task-info.h-100.d-flex.flex-column.justify-content-between
            .d-flex.mb-3
                .task-owner-profile
                    .p-0.me-1.d-flex.justify-content-center.align-items-center.profile-photo
                        include ../svg/profile
                .d-flex.flex-column.justify-content-between.ms-3
                    span.task-owner-name Alexander Slabospitsky
                    span.task-date May 13
            span.task-desc.pt-2 Прохання усім студентам оперативно пройти
                                br
                                | "Анонімне опитування про викладання курсу "Аналіз даних" (лектор Слабоспицький О.С.) для студентів потоку ПІ-2", скориставшись нижченаведеним посиланням на Google Forms:
                                br
                                a(href="https://forms.gle/ed6jwhgZ1RG3Wq9i8") https://forms.gle/ed6jwhgZ1RG3Wq9i8
                
        .task-setting.mt-2.owner-group-buttons
            button.task-setting-button.three-dots.scale-12.owner-group-buttons
                span.dot.dot-top
                span.dot.dot-middle
                span.dot.dot-bottom
        .group-setting-plate.position-absolute.p-2.owner-group-buttons
            button.delete-button.px-2.py-1
                include ../svg/leave
                span.mx-2 Delete post
