$second: rgb(33, 37, 41);
$third: gray;
$background-color: #16191f;
$font-color-white: rgb(201, 209, 217);
$success: rgb(35, 134, 54);
$success-hover: rgb(30, 114, 46);
$success-active: rgb(26, 98, 39);
