@import '../variables/variables.scss';

i.brand-cube {
    width: 5em;
    content:url('svg/whiteCube.svg');
}

i.profile-icon {
    content: url('svg/profile.svg')
}

i.profile-icon-lg {
    width: 5em;
    content: url('svg/profile.svg')
}

i.menu-icon {
    width: 4em;
    content: url('svg/menu.svg');
}

i.three-dot-icon {
    content: url('svg/three-dot.svg')
}

i.cub-loader-sm {
    width: 4em;
    content: url('svg/whiteCube_animation.svg')
}

i.cub-loader-md {
    width: 10em;
    content: url('svg/whiteCube_animation.svg')
}

i.cub-loader-lg {
    width: 20em;
    content: url('svg/whiteCube_animation.svg')
}

i.plus-icon {
    content: url('svg/plus.svg')
}

i.leave-icon {
    fill: $danger;
    content: url('svg/leave.svg')
}

i.trash-icon {
    fill: $danger;
    content: url('svg/trash.svg')
}

i.volume-icon {
    fill: gray;
    content: url(svg/volume.svg);
}

i.hash-icon {
    content: url(svg/hash.svg);
}

i.arrow-down-icon {
    content: url(svg/arrow-down.svg);
}
i.send-icon {
    content: url(svg/send.svg);
}

i.camera-icon {
    user-select: none;
    fill: gray;
    content: url(svg/camera.svg);
    input:checked + & {
        content: url(svg/camera-disabled.svg);
    }
}

i.microphone-icon {
    user-select: none;
    fill: gray;
    content: url(svg/microphone.svg);
    input:checked + & {
        content: url(svg/microphone-disabled.svg);
    }
}

i.headphones-icon {
    user-select: none;
    fill: gray;
    content: url(svg/headphones.svg);

    input:checked + & {
        content: url(svg/headphones-disabled.svg);
    }
}

i.end-call-icon {
    user-select: none;
    fill: gray;
    content: url(svg/end-call.svg);
}